.table-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    max-height: calc(100vh - 214px);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    color: #666666;
}

.noRecordsText {
    text-align: center;
}

.dialogContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #9ba0a740;
}

#dropDetailDialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

#dropDetailDialog::backdrop {
    background: rgba(0, 0, 0, 0.85);
    pointer-events: none;
}

.addDropBtn {
    padding: 8px;
    background-color: #05475afa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

label {
    display: block;
}

input[type=text],
select {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.dialogButtonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.saveBtn,
.cancelBtn {
    width: 48%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.saveBtn {
    background-color: #05475afa;
    color: white;
}

.cancelBtn {
    background-color: #e7e7e7;
    color: black;
}

.cancelBtn:hover {
    background-color: #d6d6d6;
}

.addButtonContainer {
    text-align: right;
    padding-bottom: 10px;
}

.addDropBtn:hover,
.saveBtn:hover {
    background-color: #008CBA;
}
