.header {
    text-align: center;
}

.navBarContainer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05475afa;
}

.navBarItem {
    float: left;
    cursor: pointer;
}

.navBarItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.selectedTab a,
.navBarItem a:hover {
    background-color: #008CBA;
}
